{% extends 'base.html.twig' %}

{% block title %}{{ title }} - Accueil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">{{ title }} - Accueil</h1>
        <p>Cette page est la page principale...</p>
    </div>
{% endblock %}
